DB_HOST=localhost
DB_PORT=5432
DB_NAME=prospeccao_db
DB_USER=postgres
DB_PASSWORD=postgres
FLASK_SECRET=troque_essa_chave
BRASILAPI_URL=https://brasilapi.com.br/api/cnpj/v1
PAGE_SIZE=50
ADMIN_EMAIL=admin@prospeccao.local
ADMIN_PASSWORD=admin123
JWT_SECRET=troque_essa_chave_jwt
JWT_ALGORITHM=HS256
